body, html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
  background-color: #1a1a1a;
  color: #fff;
}

#timer {
  font-size: 8vw;
  display: flex;
  justify-content: center;
}

.time-block {
  display: inline-block;
  margin: 0 5px;
}

.time-unit {
  font-size: 3vw;
  vertical-align: top;
}

#button-and-text {
  position: absolute;
  bottom: 10%;
  left: 10%;
  display: flex;
  align-items: center;
}

#whenButton, #text {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
  padding: 0;
  margin-right: 5px; /* добавьте небольшой отступ справа от кнопки, если нужно */
}

#whenButton:disabled {
  opacity: 0.5;
  cursor: default;
}


#button-and-text {
  position: absolute;
  bottom: 10%;
  left: 10%;
  display: flex;
  align-items: center;
}



#whenButton:hover {
  background-color: #777;
  opacity: 0.1;
}

#message {
  position: fixed;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 80%;
  padding: 1em;
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 25px;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 4vw;
  z-index: 100;
  white-space: nowrap;
  overflow: hidden;
  visibility: hidden;
}

@keyframes tickerAnimation {
  0%, 100% {
    transform: translateX(-50%) translateX(100vw);
    visibility: hidden;
  }
  10%, 90% {
    transform: translateX(-50%) translateX(0);
    visibility: visible;
  }
}

#message.ticker-animation {
  animation: tickerAnimation 5s linear forwards;
}
@keyframes modernFadeIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes modernFadeOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}

#message.modern-animation {
  animation: modernFadeIn 0.5s ease-out, modernFadeOut 0.5s 2s ease-in forwards;
}
